@using Eticaret.Entity
@model Product
@{
    ViewBag.Title = "ProductDetails";
}

<div id="mainBody">
    <div class="container">
        <div class="row">
            <!-- Sidebar ================================================== -->
            <div id="sidebar" class="span3">
                @Html.Action("Summary", "Cart")
                <ul id="sideManu" class="nav nav-tabs nav-stacked">
                    @Html.Action("_CategoryList", "Category")
                </ul>
                <br>
                @Html.Action("FeaturedProductList", "Home")
            </div>
            <!-- Sidebar end=============================================== -->
            <div class="span9">
                <ul class="breadcrumb">
                    <li><a href="/Home/Index"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ana Sayfa </font></font></a> <span class="divider"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">/</font></font></span></li>
                    <li><a href="/Home/Product"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ürünler </font></font></a> <span class="divider"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">/</font></font></span></li>
                    <li class="active"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@Model.Name</font></font></li>
                </ul>

                <div class="row">
                    <div id="gallery" class="span3">
                        <br />
                        <a href="themes/images/products/large/f1.jpg" title="@Model.Name">
                            <img src="~/Content/Images/@Model.Image" style="width:100%" alt="@Model.Name">
                        </a>
                    </div>

                    <div class="span6">
                        <ul id="productDetail" class="nav nav-tabs">
                            <li class="active"><a href="#home" data-toggle="tab">Ürün Detay</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade active in" id="home">
                                <h4>Ürün Bilgileri</h4>
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr class="techSpecRow"><th colspan="2">Ürün Detay</th></tr>
                                        <tr class="techSpecRow"><td class="techSpecTD1">Adı:</td><td class="techSpecTD2">@Model.Name</td></tr>
                                        <tr class="techSpecRow"><td class="techSpecTD1">Açıklama</td><td class="techSpecTD2">@Model.Description</td></tr>
                                        <tr class="techSpecRow"><td class="techSpecTD1">Kategori:</td><td class="techSpecTD2">@Model.Category.Name</td></tr>
                                        <tr class="techSpecRow"><td class="techSpecTD1">Fiyat:</td><td class="techSpecTD2">@Model.Price ₺</td></tr>
                                        <tr class="techSpecRow"><td class="techSpecTD1">Adet:</td><td class="techSpecTD2">@Model.Stock</td></tr>

                                        <tr class="techSpecRow">
                                            <th colspan="2">
                                                @if (Request.IsAuthenticated)//true ise kullanıcı login olmuş demek
                                                {
                                                    using (Html.BeginForm("AddToCart", "Cart"))
                                                    {
                                                        @Html.HiddenFor(i => i.Id)
                                                        <button type="submit" class="btn btn-large btn-primary pull-right">Sepete Ekle <i class=" icon-shopping-cart"></i></button>
                                                    }
                                                }
                                                else
                                                {
                                                    <a class="btn btn-large btn-primary pull-right" href="/Account/Login">Sepete Ekle <i class=" icon-shopping-cart"></i></a>
                                                }

                                            </th>
                                        </tr>
                                    </tbody>
                                </table>


                            </div>
                        </div>


                        @*<a class="btn btn-small pull-right" href="#detail"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Daha fazla detay</font></font></a>
                            <br class="clr">
                            <a href="#" name="detail"></a>
                            <hr class="soft">*@

                    </div>
                    <div class="span9">
                        @*<ul id="productDetail" class="nav nav-tabs">
                                <li class="active"><a href="#home" data-toggle="tab">Product Details</a></li>
                                <li><a href="#profile" data-toggle="tab">Related Products</a></li>
                            </ul>*@
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade active in" id="home">
                                <div class="form-group">
                                    <h5>Ürün Özellikleri</h5>
                                    <hr />
                                </div>
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr class="techSpecRow"><th colspan="2">Ürün Detay</th></tr>
                                        <tr class="techSpecRow"><td class="techSpecTD1">Marka: </td><td class="techSpecTD2">@Model.Brand</td></tr>
                                        <tr class="techSpecRow"><td class="techSpecTD1">Model:</td><td class="techSpecTD2">@Model.Pattern</td></tr>
                                        <tr class="techSpecRow"><td class="techSpecTD1">Çıkış Yılı:</td><td class="techSpecTD2"> @Model.Releasedon</td></tr>
                                </table>

                                <div class="form-group">
                                    <h5>Özellikler</h5>
                                    <hr />
                                </div>

                                <p>
                                    @Model.Features
                                </p>


                            </div>

                            @if (Request.IsAuthenticated)//true ise kullanıcı login olmuş demek
                            {
                                <div class="form-group">
                                    <h5>Yorum Yap</h5>
                                    <hr />
                                </div>
                                <form action="/Home/Comment" method="post">
                                    @Html.Hidden("ProductId", Model.Id)
                                    @Html.Hidden("Name", Model.Name)
                                    @Html.Hidden("UserName", this.User.Identity.Name)

                                    <div class="form-group">
                                        <textarea style="width: 855px; margin: 0px 0px 10px; height: 79px;" class="form-control" rows="5" name="Yorum" placeholder="Yorum.."></textarea>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">

                                            @*<script src="https://cdnjs.cloudflare.com/ajax/libs/javascript.util/0.12.12/javascript.util.min.js" type="text/javascript">
                                                    $(document).ready(function () {
                                                        $("#ButtonMesajGoster").click(function () {
                                                            $.ajax({
                                                                type: "POST",
                                                                url: "MesajGoster",
                                                                contentType: "application/text; charset=utf-8",
                                                                dataType: "text",
                                                                success: function (msg) {
                                                                    $("#JavaScriptMesaj").append(msg);
                                                                }
                                                            })
                                                        })
                                                    })
                                                </script>*@
                                            @*<script>
                                                function myFunction() {
                                                    alert("Yorumunuz yöneticinin onayına gönderildi en kısa zamanda yayınlanacak..!");
                                                }
                                            </script>*@
                                            <input  type="submit" value="Gönder" class="btn btn-primary" @*id="ButtonMesajGoster"*@ />
                                            @*<div id="JavaScriptMesaj"></div>*@
                                        </div>
                                    </div>
                                </form>
                                if (TempData["mesaj"] != null)
                                {
                                    <div class="alert alert-success alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        <h4>	<i class="icon fa fa-check"></i> Başarılı!</h4>
                                        @TempData["Mesaj"]
                                    </div>
                                }
                                <div class="form-group">
                                    <h5>Ürün Hakkındaki Yorumlar</h5>
                                    <hr />
                                </div>
                                if (Model.Comments.Count == 0)
                                {
                                    <div class="alert alert-Info">
                                        <strong>Ürün hakkında yorum bulunmamaktadır!</strong>
                                    </div>
                                }
                                else
                                {
                                    <table class="table table-bordered">
                                        <tr class="media-list">
                                            <ul class="media">
                                                @foreach (var item in Model.Comments.Where(x => x.IsApproved).OrderByDescending(x => x.Id).ToList())
                                                {
                                                    <li class="media-left" style="border-radius:10px;">
                                                        <a href="">
                                                            <img class="media-object img-circle img-thumbnail" style="width:64px;" src="~/Content/Images/user.png">
                                                        </a>
                                                    </li>
                                                    <li class="media-body" style="margin-left:70px; margin-top:-60px;">
                                                        <h4 class="media-heading">@item.UserName</h4>
                                                        <p style="margin-left:10px; width:700px;">@item.Yorum</p>
                                                        <p><b>Yorum Tarihi:</b>  @item.AddedDate.ToLongDateString()</p>
                                                    </li>

                                                }
                                            </ul>
                                        </tr>
                                    </table>
                                }

                            }
                            else
                            {
                                <h5>Yorum Yap</h5>
                                <div class="alert alert-Info">
                                    <strong>Üzgünüz!</strong> Yorum yapabilmek için <a href="/Account/Login" class="alert-link">giriş yapmalısınız</a>.
                                </div>
                            }

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

