@model List<Eticaret.ViewModels.RolAtaViewModel>
@{
    ViewBag.Title = "RolAta";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>RolAta</h2>

@TempData["kullaniciId"] <h5>ID Lİ KULLLANICI ROLLERİ</h5>

<form action="RolAta" method="post" class="w-50 mx-auto mt-4 p-4 shadow">
    @for (int i = 0; i < Model.Count; i++)
    {
        <div class="form-check">
            <input type="checkbox" checked="@Model[i].VarMi" />
            <label class="form-check-label">
                @Model[i].RoleAd
            </label>
            <input type="hidden" asp-for="@Model[i].RoleId" />
            <input type="hidden" asp-for="@Model[i].RoleAd" />

           @*<input type="hidden" asp-for="@TempData["kullaniciId"]" value="" />*@
        </div>
    }
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Kaydet" />
    </div>
</form>

